@media only screen and (max-width:1477px) {
  h2 {
    font-size: 90px;
    line-height: 90px;
  }
  #tiri {
    font-size: 800px;
  }
  .center {
    font-size: 40px;
  }
  .section-padding {
    height: 150px;
  }
}


@media only screen and (max-width:1116px) {

  h2 {
    font-size: 38px;
    line-height: 40px;
  }
  .center {
    font-size: 28px;
  }
  /* .top-r {
    display: none;
  }
  .bottom-r {
    display: none;
  } */
}

@media only screen and (max-width:600px) {

  h2 {
    font-size: 38px;
  }
  .center {
    font-size: 28px;
  }
  .top-r {
    display: none;
  }
  .bottom-l {
    display: none;
  }
  .bottom-r {
    display: none;
  }
  .section-padding {
    height: 90px;
  }
}